@font-face {
  font-family: 'Intro';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/intro_regular-webfont.eot');
  src:
    url('/fonts/intro_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/intro_regular-webfont.woff') format('woff'),
    url('/fonts/intro_regular-webfont.ttf') format('truetype'),
    url('/fonts/intro_regular-webfont.svg#intro_regular') format('svg');
}