// Routegy theme
// 
// Be sure to keep in sync with other sites/assets
$theme-beige = #eff0eb
$theme-red = #e83257
$theme-orange = #e87e3a
$theme-green = #1cd748
$theme-blue = #12519b
$theme-alt-purple = #6e00ca
$theme-purple = #25135f
$theme-pink = #db00d7

$theme-black = darken($theme-purple, 15%)
$theme-grey = lighten($theme-black, 48%)

$homeHeroColor = $theme-purple
$homeHeroDescriptionColor = $theme-alt-purple

$bodyBackgroundColor = $theme-beige
$sidebarBackgroundColor = $theme-beige

$navbarBackgroundColor = $theme-purple
$navbarTextColor = $theme-beige

$searchBoxBackgroundColor = $theme-red
$searchBoxBorderColor = $theme-green

$accentColor = darken($theme-green, 15%)
$textColor = $theme-black
$borderColor = lighten($theme-purple, 75%)
$codeBgColor = $theme-purple
$badgeTipColor = $theme-green
$badgeWarningColor = $theme-orange
$badgeErrorColor = $theme-red

// Vuepress theme
//
// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961
